@import "tailwindcss";

:root {
  --background: #f5f8fa;
  --foreground: #171717;
  --primary-dark: #1d3557;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-dark: var(--primary-dark);

  --font-sans: var(--font-cairo);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button,
a {
  cursor: pointer;
}
